# Ignore virtual environment
.venv/
venv/

# Python cache files
__pycache__/
*.py[cod]
*.so

# Ignore your environment file (secret keys)
.env

# Mac/Windows system files
.DS_Store
Thumbs.db

git rm -r --cached .  # Removes everything from Git index
git add .             # Adds only what's allowed
git commit -m "Apply .gitignore rules"
git push
